/************************************************************************************
******************************* Projects ********************************************
************************************************************************************/

#projects{
    display: flex;
    flex-direction: column;
    background-color: var(--brown);
    color: var(--main-bg);
    max-width: 1024px;
    padding: 20px 40px 40px 50px;
    position: relative;
	margin: auto;
}

#navProject {
	position: relative;
	top: -200px;
}

.title_projects{
    z-index: 2;
    margin-bottom: 15px;
    padding: 0 20px;
}

.container_projects{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-bottom: 25px;
}


.project h3{
    position: relative;
    margin-bottom: 25px;
    margin-right: 40px;
    font-size: 1.6em;
    width: 100%;
    text-align: right;
}

.degrade-project {
    background: var(--brown);
    position: relative;
    margin-bottom: 0px;
}

.degrade-project::before {
    content: "";
    position: absolute;
    top: -21px;
    height: 80px;
    rotate: -2deg;
    width: 101%;
    z-index: 1;
    background-color: var(--brown);
}

.degrade-project::after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 80px;
    rotate: -2deg;
    width: 101%;
    z-index: 1;
    background-color: var(--brown);
}

#projects h2 {
    color: var(--ca);
}

.project p{
    font-size: 1rem;
    text-align: justify;
    padding: 10px;
}

.project{
    width:100%;
    height: 300px;
    perspective: 1000px;
    position: relative;
}

.card-project{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
}

.project:hover .card-project{
    transform: rotateX(180deg);
}

.front-card, .back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cb);
    border-radius: 10px;
    text-align: center;
}

.front-card{
    flex-direction:column ;
}

.back-card{
    background:radial-gradient( rgba(255,255,255, 0.4), rgba(0,0,0, 0.6) ), url('../src/img/laptop.jpg') ;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateX(180deg);
    flex-direction: column;
    color: white;
}
.back-card a{
    text-decoration: none;
    color: #db7b0e;
    

}
.front-card img{
    width: 100%;
    height:100%;
    filter: invert(9%) sepia(8%) saturate(888%) hue-rotate(284deg) brightness(92%) contrast(89%);
}

.bg-number{
    background-color: var(--main-bg);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    left: -22px;
    top: 45px;
}


@media  screen and (min-width: 620px){
    .project p{
        font-size: 1.2rem;
    }

    .project h3{
        font-size: 1.8rem;
    }

}


@media  screen and (min-width: 1024px) {
    #projects{
    flex-direction: row;
    width: 100%;
    }

    .title_projects{
        width:30%;
    }

    .container_projects{
        width: 70%;
    }

    .project{
        width: 80%;
        height:200px
    }

} 