@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./contact.css";
@import "./projects.css";
@import "./me.css";
@import "./home.css";
@import "./nav.css";
@import "./split.css";


:root {
	/* 5 pixels */
	--r: 0.5em; /* r = radius */
    /* Border */
    --cb: #7e7f83;

	/* Text */
	--cp: #34312d; 
 
    /* BG */
    /* light */
    --main-bg: #d9c5b2;
    /* dark */
	--dark-bg: #b6977c; 
    /* heuuu */
    --brown: #241f21;

    --ca: #ffbe32;

    /* FONTS */
    --title: "Lexend";
    --text: "Poppins";

}

html {
    overflow-x: hidden;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--text);
    color: var(--cp);
    width: 100%;
    overflow: hidden;
}
#root{
    width: 100%;
}

#hero{
    padding-top: 30px;
    background-color: var(--main-bg);
    width: 100%;
   
}

h1, h2, h3, h4{
    font-family: var(--title);
}
section{
    scroll-behavior: smooth;
}

.arrow{
  display: none;
}

.spin{
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1024px){
    .arrow{
        display: block;
        position: fixed;
        bottom:15px;
        right: 25px;
        font-size: 3rem;
        z-index: 10000;
        color: #db7b0e;
        cursor: pointer;
    }
}